// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

*{
    box-sizing: border-box;


}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 3.5em;
}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}



button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid rgba(00,0,0.5);
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: blueviolet;

}
button:hover {
    background-color: rgb(93, 26, 156);
}


.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: purple;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}

header .logo {
    margin: 0;
    padding: 25px 30px;

}

header img{
    height: 100px;
    margin: 0;

}

header nav{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header nav .instagram{
  
}

header a{
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: black;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#somos-hispano{

}

#somos-hispano .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-servidores {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-servidores .container{
    padding: 150px 12px;
}

#nuestros-servidores h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-servidores p{

}

#nuestros-servidores .carta{
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("cartafirst.png");
   
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("minecraft2.png");
    
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("redm.png");

    background-size: cover;
    background-position: center center;
}

footer {
    background-color: purple;
    margin: 0;
}

footer p{
    margin 0;
    padding: 2px;
    color: white;
}

footer .container{
    margin: 0;
    height: 100px;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    
    header {
        flex-direction: row;
        position: fixed;
        width: 100%;
        justify-content: space-between;

    }
     header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        }

    nav a{
        display: flex;
        padding-right: 10px;
    }

    #somos-hispano .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-hispano .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #somos-hispano h2{
        margin-top: 0px;
    }

    #somos-hispano .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(elvis.png);
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 500px;
    }

    #nuestros-servidores .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-servidores p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }
    #nuestros-servidores .carta{
        padding: 50px;
    }
}